body {
  background-image: url("Slike/272728-2118x1412-summer-flowers.jpg");
}

.forma {
  display: block;
  margin: auto;
  width: 35%;
  border: 2px solid rgb(214, 135, 214);
  border-radius: 5%;
  backdrop-filter: blur(5px);
  box-shadow: -2px -2px 10px 10px rgba(217, 70, 234, 0.6);
}

.naslov-cvece {
  margin-top: 10%;
}

.div-cvece {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 5px;
}

.div-cvece label {
  margin-right: 5px;
}

.div-cvece input {
  margin: 2px;
}

.ruza {
  padding-right: 13.5px;
}

.pokloni-naslov {
  padding-left: 22px;
}

.div-pokloni {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.input-group.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-group.checkbox-group input {
  /* margin: 5px; */
}

.input-group.checkbox-group label {
  /* margin-left: 5px; */
  display: flex;
  align-items: center;
}

.chbx-cokoladaa {
  padding-right: 16.5px;
}

.chbx-sampanjacc {
  padding-right: 8.5px;
}
.chbx-bombonjeraa {
  padding-left: 8.5px;
}

.naslov-placanje {
  padding-left: 12px;
  margin-bottom: 2px;
}

.naslov-placanje-popust {
  color: rgb(15, 14, 14);
  font-weight: lighter;
  margin: 1.5px;
}

.div-placanje {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.radio-kes input,
.radio-kartica input {
  margin: 5px; /* Add this line to give space between radio buttons */
}

.input-radio {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; /* Add this line */
}

.radio-kes {
  text-align: center;
  margin-bottom: 20px;
}

.radio-kartica {
  text-align: center;
  padding-left: 20px;
}

.btn-izracunaj,
.btn-resetuj {
  margin: 20px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ruzaAvatar,
.ljiljaniAvatar,
.gerberiAvatar {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#ruza,
#ljiljani,
#gerberi {
  width: 162px;
}

.Bombonjera,
.Cokolada,
.Sampanjac {
}

.cena,
.cena-popust {
}
