body {
  background-image: url("Slike/272728-2118x1412-summer-flowers.jpg");
}

.form {
  display: block;
  margin: auto;
  width: 35%;
  border: 2px solid rgb(214, 135, 214);
  border-radius: 5%;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 18px 13px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 18px 13px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 18px 13px rgba(0, 0, 0, 0.26);
}

.naslov-cvece {
  margin-top: 10%;
}

.div-cvece {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 100%;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 5px;
}

.div-cvece label {
  margin-right: 5px;
}

.div-cvece input {
  margin: 2px;
}

.ruza {
  padding-right: 13.5px;
}

.pokloni-naslov {
}

.div-pokloni {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.input-group.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 120px;
  gap: 5px;
}

.input-group.checkbox-group input {
  /* margin: 5px; */
}

.input-group.checkbox-group label {
  /* margin-left: 5px; */
  display: flex;
  align-items: center;
}

.chbx-cokoladaa {
}

.chbx-sampanjacc {
}
.chbx-bombonjeraa {
}

.naslov-placanje {
  padding-left: 12px;
  margin-bottom: 2px;
}

.naslov-placanje-popust {
  color: rgb(15, 14, 14);
  font-weight: lighter;
  margin: 1.5px;
}
.popust-placanje {
  font-weight: bold;
  font-style: italic;
}

.div-placanje {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.radio-kes input,
.radio-kartica input {
  margin: 5px;
}

.kes-kartica {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  gap: 5px;
}

.input-radio {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; /* Add this line */
  align-items: center;
  gap: 8px;
}

.btn-izracunaj,
.btn-resetuj {
  margin: 20px;
}
.btn-izracunaj {
  background: #e7edad;
  background-image: -webkit-linear-gradient(top, #e7edad, #e3e622);
  background-image: -moz-linear-gradient(top, #e7edad, #e3e622);
  background-image: -ms-linear-gradient(top, #e7edad, #e3e622);
  background-image: -o-linear-gradient(top, #e7edad, #e3e622);
  background-image: linear-gradient(to bottom, #e7edad, #e3e622);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  cursor: pointer;
}
.btn-izracunaj:hover {
  background: #a9deb0;
  background-image: -webkit-linear-gradient(top, #a9deb0, #32eb41);
  background-image: -moz-linear-gradient(top, #a9deb0, #32eb41);
  background-image: -ms-linear-gradient(top, #a9deb0, #32eb41);
  background-image: -o-linear-gradient(top, #a9deb0, #32eb41);
  background-image: linear-gradient(to bottom, #a9deb0, #32eb41);
  text-decoration: none;
}

.btn-resetuj {
  background: #e7edad;
  background-image: -webkit-linear-gradient(top, #e7edad, #e3e622);
  background-image: -moz-linear-gradient(top, #e7edad, #e3e622);
  background-image: -ms-linear-gradient(top, #e7edad, #e3e622);
  background-image: -o-linear-gradient(top, #e7edad, #e3e622);
  background-image: linear-gradient(to bottom, #e7edad, #e3e622);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}
.btn-resetuj:hover {
  background: #eb888a;
  background-image: -webkit-linear-gradient(top, #eb888a, #eb2828);
  background-image: -moz-linear-gradient(top, #eb888a, #eb2828);
  background-image: -ms-linear-gradient(top, #eb888a, #eb2828);
  background-image: -o-linear-gradient(top, #eb888a, #eb2828);
  background-image: linear-gradient(to bottom, #eb888a, #eb2828);
  text-decoration: none;
  cursor: pointer;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ruzaAvatar,
.ljiljaniAvatar,
.gerberiAvatar {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#ruza,
#ljiljani,
#gerberi {
  width: 162px;
}

.Bombonjera,
.Cokolada,
.Sampanjac {
  color: rgb(10, 17, 1);
}
.cena {
  color: rgb(2, 1, 0);
}
.cena-popust {
  color: rgb(0, 0, 0);
}
